.searchPanelForm {
  display: grid;
  grid-template-rows: 50% 50%;
  margin: 10px;
  padding: 10px;
}

.titleCenter{
  margin: auto;
}

.inputsPanel{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
}
