<form class="searchPanelForm" [formGroup]="showForm">
  <h2 class="titleCenter">Search Panel</h2>
  <div class="inputsPanel">
    <div class="searchPanelForm dropdown">
      <mat-form-field appearance="fill">
        <mat-label>New Search</mat-label>
        <mat-select>
          <mat-option *ngFor="let show of shows" [value]="show.value">
            {{show.viewValue}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="getMovie?.hasError('required')">
          Field is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="searchPanelForm">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Search Movie</mat-label>
        <input matInput formControlName="movie">
        <mat-error *ngIf="getMovie?.hasError('required')">
          Field is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="searchPanelForm">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Release Year</mat-label>
        <input matInput formControlName="serie">
      </mat-form-field>
    </div>
    <div class="searchPanelForm">
      <button mat-raised-button color="primary" (click)="searchShows()">Search</button>
    </div>
  </div>
</form>
