<div class="favorites">
  <h2 class="titleCenter">My Favorites Show</h2>
  <div class="eachShow" *ngFor="let favoriteShow of showsListFavorites; let i = index">
    <div class="showImage">
      <img src="{{favoriteShow.poster}}" alt="">
    </div>
    <div class="showDetails">
      <div>
        <span >Title: </span>
        {{ favoriteShow.title }}
      </div>
      <div>
        <span >Type: </span>
        {{ favoriteShow.type }}
      </div>
      <div>
        <span >Year: </span>
        {{ favoriteShow.year }}
      </div>
      <div>
        <span >Comments: </span>
        {{ favoriteShow.comments }}
      </div>
      <div>
        <span >Registration Date: </span>
        {{ favoriteShow.registrationDate | date: 'hh:mm:ss' }}
      </div>
      <div>
        <button mat-raised-button color="primary" (click)="removeFavorites(i)">Delete</button>
      </div>
    </div>

  </div>
</div>
