<form [formGroup]="favoritesForm">
  <h2 class="titleCenter">My Favorites</h2>
  <div formArrayName="favoriteShows" *ngFor="let favoriteShow of getFavoritesShows.controls; let i = index">
    <div [formGroupName]="i" class="eachShow">
      <div class="showImage">
        <img src="{{showsListFromParent[i].poster}}" alt="">
      </div>
      <div class="showDetails">
        <div>
          <mat-form-field appearance="legacy">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title"/>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Type</mat-label>
            <input matInput formControlName="type"/>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="legacy">
            <mat-label>Year</mat-label>
            <input matInput formControlName="year"/>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="legacy">
            <mat-label>Comments</mat-label>
            <textarea cols="30" rows="15" matInput formControlName="comments"></textarea>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="legacy">
            <mat-label>Registration Date</mat-label>
            <textarea cols="30" rows="15" matInput formControlName="registrationDate"></textarea>
          </mat-form-field>
        </div>
        <div>
          <button mat-raised-button color="primary" (click)="removeFavorites(i)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</form>
